<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.eilieili.demo.mapper.UserMapper">

    <select id="getUserByAccount" resultType="com.springboot.eilieili.demo.bean.User">
        SELECT userId, userName, userAccount, userLevel, userLevelProgress, userPicPath
        FROM `User`
        WHERE userAccount = #{userAccount}
    </select>


    <select id="getUserById" resultType="com.springboot.eilieili.demo.bean.User">
        SELECT userId, userName, userAccount, userLevel, userLevelProgress, userPicPath
        FROM `User`
        WHERE userId = #{userId}
    </select>

    <select id="getUserPasswordByAccount" resultType="String">
        SELECT userPassword
        FROM `User`
        WHERE userAccount = #{userAccount}
    </select>

    <select id="checkUserName" resultType="Integer">
        SELECT COUNT(*)
        FROM `User`
        WHERE userName = #{checkName}
          AND userId != #{userId}
    </select>

    <select id="checkNewUserName" resultType="Integer">
        SELECT COUNT(*)
        FROM `User`
        WHERE userName = #{checkName}
    </select>

    <select id="checkNewUserAccount" resultType="Integer">
        SELECT COUNT(*)
        FROM `User`
        Where userAccount = #{userAccount}
    </select>


    <select id="checkUserPassword" resultType="Integer">
        SELECT COUNT(*)
        FROM `User`
        WHERE userPassword = #{checkPassword}
          AND userId = #{userId}
    </select>


    <update id="updateUserPic">
        UPDATE `User`
        SET userPicPath = #{newPicPath}
        WHERE userId = #{userId}
    </update>

    <update id="updateUserName">
        UPDATE `User`
        SET userName = #{newName}
        WHERE userId = #{userId}
    </update>


    <update id="updateUserPassword">
        UPDATE `User`
        SET userPassword = #{newPassword}
        WHERE userId = #{userId}
    </update>

    <insert id="insertUser">
        INSERT INTO `User` (userName, userAccount, userPassword, userLevel, userLevelProgress)
        VALUES (#{userName}, #{userAccount}, #{userPassword}, 1, 0)
    </insert>

    <select id="getAllUsers" resultType="com.springboot.eilieili.demo.bean.UserExtend">
        SELECT *
        FROM `User`
    </select>

    <update id="updateUser">
        UPDATE `User`
        SET userName     = #{userName},
            userAccount  = #{userAccount},
            userPassword = #{userPassword}
        WHERE userId = #{userId}
    </update>

    <delete id="deleteUser">
        DELETE
        FROM `User`
        WHERE userId = #{userId}
    </delete>

</mapper>