<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.eilieili.demo.mapper.VideoMapper">

    <select id="getVideosRandom" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT *
        FROM Video
        ORDER BY RAND()
        limit 8
    </select>

    <select id="getVideosRandomBySectorId" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT *
        FROM Video
        WHERE sectorId = #{sectorId}
        ORDER BY RAND()
        limit 8
    </select>

    <select id="getRecommendRandomVideos" resultType="com.springboot.eilieili.demo.bean.VideoExtend">
        SELECT v.videoId,
               u.userId,
               v.videoName,
               s.sectorName,
               v.videoPicPath,
               v.videoViewTimes,
               u.userName,
               (
                   SELECT COUNT(*)
                   FROM `Like` l
                   WHERE l.videoId = v.videoId
               ) AS likes,
               (
                   SELECT COUNT(*)
                   FROM `Favorite` f
                   WHERE f.videoId = v.videoId
               ) AS favorites

        FROM `Video` v,
             `User` u,
             `Sector` s
        WHERE v.userId = u.userId
          AND s.sectorId = v.sectorId
          AND v.videoName LIKE '%${keyword}%'
        ORDER BY RAND()
        limit 8
    </select>


    <select id="getVideosBySectorId" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT *
        FROM Video
        WHERE sectorId = #{sectorId}
    </select>


    <select id="getVideosBySectorIdAndPage" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT *
        FROM Video
        WHERE sectorId = #{sectorId}
        LIMIT ${(page - 1) * 12} , 12
    </select>

    <select id="getVideosCountBySectorId" resultType="Integer">
        SELECT COUNT(*)
        FROM Video
        WHERE sectorId = #{sectorId}
    </select>

    <select id="getVideosByUserId" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT *
        FROM Video
        WHERE userId = #{userId}
    </select>

    <select id="getVideosByUserIdAndPage" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT *
        FROM Video
        WHERE userId = #{userId}
        LIMIT ${(page - 1) * 12} , 12
    </select>


    <select id="getVideosCountByUserId" resultType="Integer">
        SELECT COUNT(*)
        FROM Video
        WHERE userId = #{userId}
    </select>


    <select id="getVideoInfoById" resultType="com.springboot.eilieili.demo.bean.VideoExtend">
        SELECT v.videoId,
               u.userId,
               s.sectorId,
               v.videoName,
               v.videoPath,
               v.videoPicPath,
               v.videoBrief,
               v.videoViewTimes,
               u.userName,
               u.userPicPath,
               u.userLevel,
               s.sectorName,
               v.maxQuality,
               (
                   SELECT COUNT(*)
                   FROM `Like` l
                   WHERE l.videoId = v.videoId
               ) AS likes,
               (
                   SELECT COUNT(*)
                   FROM `Favorite` f
                   WHERE f.videoId = v.videoId
               ) AS favorites

        FROM `Video` v,
             `User` u,
             `Sector` s
        WHERE v.userId = u.userId
          AND s.sectorId = v.sectorId
          AND v.videoId = #{videoId}
    </select>


    <!--    <select id="getUserPassword" resultType="String">-->
    <!--        SELECT userPassword FROM User WHERE userId=#{userId}-->
    <!--    </select>-->


    <insert id="postVideo">
        INSERT INTO `Video` (userId,
                             sectorId,
                             videoName,
                             videoPath,
                             videoBrief,
                             videoPicPath,
                             videoViewTimes,
                             uuid)
        VALUES (#{userId}, #{sectorId}, #{videoName}, #{videoPath}, #{videoBrief}, #{videoPicPath}, #{videoViewTimes},
                #{uuid})

    </insert>

    <update id="postVideoQuality">
        UPDATE `Video`
        SET maxQuality = #{quality}
        WHERE uuid = #{uuid}
    </update>


    <select id="getSearchVideo" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT videoName, videoId
        FROM `Video`
        WHERE videoName LIKE '%${query}%'
        LIMIT 8
    </select>

    <update id="updateVideoViewTimes">
        UPDATE Video
        SET videoViewTimes = videoViewTimes + 1
        WHERE videoId = #{videoId}
    </update>

    <select id="getLikeById" resultType="Integer">
        SELECT COUNT(*)
        FROM `Like`
        WHERE videoId = #{videoId}
          AND userId = #{userId}

    </select>

    <insert id="addUserLike">
        INSERT INTO `Like` (videoId, userId)
        VALUES (#{videoId}, #{userId})
    </insert>

    <delete id="removeUserLike">
        DELETE
        FROM `Like`
        WHERE videoId = #{videoId}
          AND userId = #{userId}
    </delete>

</mapper>