<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.eilieili.demo.mapper.VideoMapper">

    <select id="getVideosRandom" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT *
        FROM Video
        WHERE status = 0
        ORDER BY RAND()
        limit 8
    </select>

    <select id="getVideosRandomBySectorId" resultType="com.springboot.eilieili.demo.bean.VideoExtend">
        SELECT v.videoId,
               u.userId,
               v.videoName,
               s.sectorName,
               v.videoPicPath,
               u.userName
        FROM `Video` v,
             `User` u,
             `Sector` s
        WHERE v.userId = u.userId
          AND s.sectorId = v.sectorId
          AND s.sectorId = #{sectorId}
          AND status = 0
        ORDER BY RAND()
        limit 8
    </select>

    <select id="getRecommendRandomVideos" resultType="com.springboot.eilieili.demo.bean.VideoExtend">
        SELECT v.videoId,
               u.userId,
               v.videoName,
               s.sectorName,
               v.videoPicPath,
               v.videoViewTimes,
               u.userName,
               (
                   SELECT COUNT(*)
                   FROM `Like` l
                   WHERE l.videoId = v.videoId
               ) AS likes,
               (
                   SELECT COUNT(*)
                   FROM `Favorite` f
                   WHERE f.videoId = v.videoId
               ) AS favorites

        FROM `Video` v,
             `User` u,
             `Sector` s
        WHERE v.userId = u.userId
          AND s.sectorId = v.sectorId
          AND v.videoName LIKE '%${keyword}%'
          AND status = 0
        ORDER BY RAND()
        limit 8
    </select>


    <select id="getVideosBySectorId" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT *
        FROM Video
        WHERE sectorId = #{sectorId}
          AND status = 0
    </select>


    <select id="getVideosBySectorIdAndPage" resultType="com.springboot.eilieili.demo.bean.VideoExtend">
        SELECT v.videoId,
               u.userId,
               v.videoName,
               s.sectorName,
               v.videoPicPath,
               u.userName
        FROM `Video` v,
             `User` u,
             `Sector` s
        WHERE v.userId = u.userId
          AND s.sectorId = v.sectorId
          AND s.sectorId = #{sectorId}
          AND status = 0
        LIMIT ${(page - 1) * 12} , 12
    </select>

    <select id="getVideosCountBySectorId" resultType="Integer">
        SELECT COUNT(*)
        FROM Video
        WHERE sectorId = #{sectorId}
          AND status = 0
    </select>

    <select id="getVideosByUserId" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT *
        FROM Video
        WHERE userId = #{userId}
          AND status = 0
    </select>

    <select id="getVideosByUserIdAndPage" resultType="com.springboot.eilieili.demo.bean.VideoExtend">
        SELECT v.videoId,
               v.videoName,
               v.videoPath,
               v.videoPicPath,
               v.videoBrief,
               v.videoViewTimes,
               s.sectorName,
               s.sectorId,
               v.maxQuality,
               v.uuid,
               (
                   SELECT COUNT(*)
                   FROM `Like` l
                   WHERE l.videoId = v.videoId
               ) AS likes,
               (
                   SELECT COUNT(*)
                   FROM `Favorite` f
                   WHERE f.videoId = v.videoId
               ) AS favorites,
               (
                   SELECT COUNT(*)
                   FROM `Comment` c
                   WHERE c.videoId = v.videoId
               ) AS comments

        FROM `Video` v,
             `Sector` s
        WHERE s.sectorId = v.sectorId
          AND v.userId = #{userId}
          AND status = 0
        LIMIT ${(page - 1) * 4} , 4
    </select>


    <select id="getVideosCountByUserId" resultType="Integer">
        SELECT COUNT(*)
        FROM Video
        WHERE userId = #{userId}
          AND status = 0
    </select>


    <select id="getVideoInfoById" resultType="com.springboot.eilieili.demo.bean.VideoExtend">
        SELECT v.videoId,
               u.userId,
               s.sectorId,
               v.videoName,
               v.videoPath,
               v.videoPicPath,
               v.videoBrief,
               v.videoViewTimes,
               v.videoTime,
               u.userName,
               u.userPicPath,
               u.userLevel,
               s.sectorName,
               v.maxQuality,
               (
                   SELECT COUNT(*)
                   FROM `Like` l
                   WHERE l.videoId = v.videoId
               ) AS likes,
               (
                   SELECT COUNT(*)
                   FROM `Favorite` f
                   WHERE f.videoId = v.videoId
               ) AS favorites,
               (
                   SELECT COUNT(*)
                   FROM `Comment` c
                   WHERE c.videoId = v.videoId
               ) AS comments

        FROM `Video` v,
             `User` u,
             `Sector` s
        WHERE v.userId = u.userId
          AND s.sectorId = v.sectorId
          AND v.videoId = #{videoId}
    </select>


    <select id="getAllVideos" resultType="com.springboot.eilieili.demo.bean.VideoTransCode">
        SELECT videoName,
               videoBrief,
               videoId,
               sectorId,
               videoPath,
               maxQuality,
               status,
               uuid
        FROM `Video`
    </select>


    <insert id="postVideo">
        INSERT INTO `Video` (userId,
                             sectorId,
                             videoName,
                             videoPath,
                             videoBrief,
                             videoPicPath,
                             videoViewTimes,
                             uuid)
        VALUES (#{userId}, #{sectorId}, #{videoName}, #{videoPath}, #{videoBrief}, #{videoPicPath}, #{videoViewTimes},
                #{uuid})

    </insert>

    <update id="postVideoQuality">
        UPDATE `Video`
        SET maxQuality = #{quality}
        WHERE uuid = #{uuid}
    </update>


    <select id="getSearchVideo" resultType="com.springboot.eilieili.demo.bean.Video">
        SELECT videoName, videoId, videoPicPath
        FROM `Video`
        WHERE videoName LIKE '%${query}%'
        LIMIT 8
    </select>


    <update id="updateVideoViewTimes">
        UPDATE Video
        SET videoViewTimes = videoViewTimes + 1
        WHERE videoId = #{videoId}
    </update>

    <select id="getLikeById" resultType="Integer">
        SELECT COUNT(*)
        FROM `Like`
        WHERE videoId = #{videoId}
          AND userId = #{userId}

    </select>

    <insert id="addUserLike">
        INSERT INTO `Like` (videoId, userId)
        VALUES (#{videoId}, #{userId})
    </insert>

    <delete id="removeUserLike">
        DELETE
        FROM `Like`
        WHERE videoId = #{videoId}
          AND userId = #{userId}
    </delete>

    <!--    Favorite-->

    <select id="getFavoriteById" resultType="Integer">
        SELECT COUNT(*)
        FROM `Favorite`
        WHERE videoId = #{videoId}
          AND userId = #{userId}

    </select>

    <insert id="addUserFavorite">
        INSERT INTO `Favorite` (videoId, userId)
        VALUES (#{videoId}, #{userId})
    </insert>

    <delete id="removeUserFavorite">
        DELETE
        FROM `Favorite`
        WHERE videoId = #{videoId}
          AND userId = #{userId}
    </delete>

    <select id="getVideoUUID" resultType="String">
        SELECT uuid
        FROM `Video`
        WHERE videoId = #{videoId}
    </select>

    <select id="getVideoStatus" resultType="com.springboot.eilieili.demo.bean.VideoTransCode">
        SELECT *
        FROM `Video`
        WHERE userId = #{userId}
    </select>

    <update id="updateVideoStatus">
        UPDATE `Video`
        SET status = #{status}
        WHERE uuid = #{uuid}
    </update>

    <delete id="removeVideo">
        DELETE
        FROM `Video`
        WHERE uuid = #{uuid}
    </delete>

    <select id="getUserFavoriteVideos" resultType="com.springboot.eilieili.demo.bean.VideoExtend">
        SELECT v.videoName, v.videoId, v.videoPicPath, v.videoBrief, s.sectorName
        FROM `Video` v,
             `Favorite` f,
             `Sector` s
        WHERE f.userId = #{userId}
          AND v.videoId = f.videoId
          AND v.sectorId = s.sectorId
        LIMIT ${(page - 1) * 4} , 4
    </select>

    <update id="updateVideo">
        UPDATE `Video`
        SET videoName  = #{videoName},
            videoBrief = #{videoBrief},
            sectorId   = #{sectorId}
        WHERE videoId = #{videoId}
    </update>

</mapper>